:local .summary h3 {
    padding: 0px;
    margin-bottom: 0px;
}

:local .damageBox {
    padding: 0px 5px 0px 5px;
}

@media screen and (max-width: 1300px) {
    :local .page {
        margin-left: 1em;
        margin-right: 1em;   
    }
}