:local .navigationActive {
    opacity: 0.5;
    text-decoration: none;
    cursor: default;
    /*text-decoration: underline 0.15em rgb(158, 0, 0);*/
}
:local .navigationActive:hover {
    opacity: 0.5;
    text-decoration: none;
}

:local .lowerPage {
    padding: 3em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    animation: "fadeIn" 2s;
}

:local .clanText {
    animation: "fadeIn" 1s;
}

:local .clanPicture {
    animation: "fadeIn" 1s;
    justify-self: center;
}

:local .clanPicture img {
    border-radius: 10px;
}

:local .clanHeader {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    animation: "fadeIn" 1s;
    text-align: center;
}

:local .clanHeader h1 {
    margin: 0px;
}

:local .prevNextClan a {
    text-decoration: none;
}

:local .prevNextClan {
    transform: scale(0.5);
    opacity: 0.3;
    transition: opacity 500ms;
}

:local .prevNextClan:hover {
    opacity: 1;
}

:local .prevNextClan h1 {
    cursor: pointer;
}

:local .clanHeaderQuote {
    grid-column: span 3;
}

:local .clanHeader img {
    max-height: 200px;
}

:local .detailsNavGrid {
    animation: "fadeIn" 1.5s;
    padding: 1em 0.5em 1em 0.5em;
    border-top: 1px solid #e0e0db;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    border-bottom: 1px solid #e0e0db;
}

:local .sectOpinions {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

:local .clanOpinionGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

:local .clanOpinion {
    display: flex;
    align-items: center;
}

:local .clanOpinion img {
    height: 4em;
    padding-right: 2em;
}

:local .opinionClanIcon {
    font-size: 4em;
    margin-right: 0.3em;
}

:local .clanIcon {
    font-size: 11em;
    margin: 0px;
    padding: 0px;
}

:local .disciplinesHeader {
    margin-bottom: 0px;
}

:local .disciplinesFlex {
    display: flex;
    align-items: center;
    column-gap: 4em;
}

:local .disciplineButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5em;
}

:local .disciplineButton:hover {
    border-color: transparent;
}

:local .disciplineButton h1 {
    text-transform: none;
    margin: 0px;
}