:local .navigationActive {
    opacity: 0.5;
    text-decoration: none;
    cursor: default;
    /*text-decoration: underline 0.15em rgb(158, 0, 0);*/
}
:local .navigationActive:hover {
    opacity: 0.5;
    text-decoration: none;
}

:local .clanQuote {
    text-align: center;
}

:local .sectOpinions {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

:local .clanOpinionGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

:local .clanOpinion {
    display: flex;
    align-items: center;
}

:local .clanOpinion img {
    height: 4em;
    padding-right: 2em;
}

:local .opinionClanIcon {
    font-size: 4em;
    margin-right: 0.3em;
    cursor: pointer;
}

:local .disciplinesHeader {
    margin-bottom: 0px;
}

:local .disciplinesFlex {
    display: flex;
    align-items: center;
    column-gap: 4em;
}

:local .disciplineButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5em;
    transition: all 0.5s ease-in;
    text-decoration: none;
}

:local .disciplineButton:hover {
    border-color: transparent;
    text-decoration: none;
}

:local .disciplineButton p {
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease-in;
}

:local .disciplineButton:hover p {
    
    border-bottom: 2px solid rgb(126, 0, 0);;
}

:local .disciplineButton h1 {
    text-transform: none;
    margin: 0px;
}

:local .topBackButton {
    display: none;
}

@media screen and (max-width: 1300px) {
    :local .page {
        margin-left: 1em;
        margin-right: 1em;
    }

    :local .disciplinesHeader {
        text-align: center;
    }

    :local .disciplinesFlex {
        flex-direction: column;
        justify-content: left;
        gap: 30px;
    }

    :local .clanOpinionGrid {
        grid-template-columns: 1fr;
    }

    :local .topBackButton {
        display: flex;
        background-color: transparent;
        color: white;
        border-left: 0;
        border-right: 0;
        border-top: 0;
        border-bottom: 1px solid white;
        width: 100%;
        justify-content: center;
        
    }
}