:local .navbar {
  position: relative;
  text-align: center;
  display: flex;
  width: 100vw;
  color: #e0e0db;
  border-bottom: 1px solid #e0e0db;
  padding-top: 1em;
  padding-bottom: 1em;
  z-index: 300;
}

:local .navbar a {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

:local .links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

:local .closeButton {
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background-color: black;   
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 2vh;
  font-size: 3em;
  text-align: center;
  padding-top: 0.4em;
  padding-bottom: 0.3em;
}

:local .hamburgerMenu {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  width: 100vw;
  margin-bottom: 2vh;
  z-index: 30;
  padding-top: 1em;
  padding-bottom: 1em;
}

:local .hamburgerMenu button {
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.7);
}

:local .backButton {
  font-size: 1.5em;
  padding-left: 1em;
  opacity: 0.8;
}

:local .burgerMenu {
  font-size: 3em;
  padding-right: 0.5em;
}

@media screen and (min-width: 1300px) {
  :local .hamburgerMenu {
    display: none;
  }

  :local .closeButton {
    display: none;
  }
}

@media screen and (max-width: 1300px) {
  :local .navbar {
      background-color: rgba(0, 0, 0, 0.9);
      flex-direction: column;
      border-bottom: 0px;
      padding-top: 0px;
      margin-bottom: 0em;
      padding-bottom: 0px;
  }

  :local .mobileNotShown {
    display: none !important;
  }

  :local .links {
    display: flex;
    animation: "fadeIn" 0.15s ease-in;
    -webkit-animation: "fadeIn" 0.15s ease-in;
    flex-direction: column;
  }

  :local .navbar a {
      font-size: 4vh;
      margin-top: 0.6em;
      margin-bottom: 0.6em;
  }
}
