:local .navbar {
    text-align: center;
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    color: #e0e0db;
    border-bottom: 1px solid #e0e0db;
    justify-content: space-evenly;
    padding-top: 1em;
    padding-bottom: 1em;
    z-index: 300;
}

:local .navbar a {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

:local .activeLink {
  opacity: 0.5;
  transition: opacity 250ms;
}

:local .activeLink:hover {
  opacity: 1;
}


@keyframes underliner {
  from {
    border-bottom: 0px solid #e0e0db;
  }
  to {
    border-bottom: 1px solid #e0e0db;
  }
}