:local .abilitiesGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    column-gap: 5em;
}

:local .abilitiesGrid h2 {
    margin-bottom: 0.7em;
}


:local .abilitiesColumn {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    justify-content: center;
    grid-auto-flow: row;
    gap: 1em;
}


:local .abilityButton {
    background-color: transparent;
    color: #e0e0db;
    padding-top: 2em;
    padding-bottom: 2em;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    border: 1px solid #e0e0db;
    opacity: 0.4;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 500ms;
}

:local .abilityButton span {
    font-size: 2em;
    margin-top: 0px;
    margin-bottom: 0.3em;
}

:local .abilityButton:hover {
    opacity: 1;
    border-color: #e0e0db;
}

@media screen and (max-width: 1300px) {
    :local .abilitiesGrid {
        grid-template-columns: 1fr;
        row-gap: 1em;
        margin-left: 1em;
        margin-right: 1em;
    }

    :local .abilityButton {
        opacity: 0.6;
    }
}