:local .doubleColumn {
    display: grid;
    grid-template-columns: 0.3fr 0.5fr;    
}

:local .doubleColumn label {
    padding-bottom: 0.5em;
}

:local .doubleColumn p {
    margin-bottom: 0px;
}

@media screen and (max-width: 1300px) {   
    :local .doubleColumn {
        grid-template-columns: 0.5fr 0.5fr;
        column-gap: 2.5em;
        justify-content: space-between;
    }
}