:local .informationWidth {
    position: absolute;
    left: 0;
    top: 0;
}

:local .informationWidth p {
    font-size: 1.5em;
}

:local .backtotopbtn {
    position: fixed;
    bottom: 3em;
    right: 3em;
    z-index: 1000;
}

:local .backtotopbtn button {
    background-color: black;
    font-size: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    color: #e0e0db;
    transition: opacity 500ms;
    padding: 20px;
    opacity: 0.5;
}

:local .backtotopbtn button:hover {
    opacity: 1;
    cursor: pointer;
}

:local .nineteenninitynine {
    font-size: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    width: 100vw;
    height: 100vh;
}

:local .nineteenninityninesection {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100vw;
    height: 70vh;
}

:local .sidePic {
    padding: 0.3em;
    object-fit: cover;
    object-position: 10% 10%;
    width: 50vw;
}

:local .camarillaheader {
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    width: 100vw;
    height: 100vh;
}

:local .camarillaSection {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100vw;
    padding-bottom: 50vh;
}

:local .innerText {
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    align-items: center;
    gap: 5vw;
}

:local .innerText div {
    max-width: 1000px;
}

:local .smallerJonathan {
    font-size: 3.4em !important;
}


:local .pictureRight {
    border: 1px solid transparent;
    border-radius: 15px;
    max-width: 700px;
    justify-self: center;
    align-self: center;
}

:local .reverse {
    flex-direction: row-reverse;
}

:local .charactersection {
    display: flex;
    background-color: black;
    padding-bottom: 400px;
}

:local .characterText {
    padding-left: 5vw;
    padding-right: 5vw;
}

:local .characterText h1 {
    font-size: 4.5em;
    margin-bottom: 0px;
}

:local .characterText h2 {
    font-size: 2em;
    margin-top: 0px;
    margin-bottom: 1.3em;
}


:local .characterGrid {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
}

@media screen and (max-width: 1300px) {
    :local .pictureRight {
        width: 100%
    }


    :local .informationWidth p {
        font-size: 1.2em;
    }

    :local .characterGrid {
        grid-template-columns: 1fr;
    }

    :local .innerText {
        display: flex; 
        flex-direction: column-reverse;
        gap: 10px;
        padding-left: 0;
        padding-right: 0;
    }

    :local .characterText h1 {
        font-size: 2.2em;
        margin-bottom: 0px;
    }

    :local .characterText h2 {
        font-size: 1.3em;
    }

    :local .nineteenninitynine h1 {
        font-size: 30vw;
    }
    
    :local .nineteenninityninesection {
        padding: 10vw;
        width: auto;
    }

    :local .camarillaheader {
        height: 50vh;
    }    

    :local .camarillaSection {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        width: auto;
        padding-left: 10vw;
        padding-right: 10vw;
    }

    :local .backtotopbtn {
        bottom: 1em;
        right: 2em;
    }
    
    :local .backtotopbtn button {
        display: none;
    }

    :local .smallerJonathan {
        font-size: 1.7em !important;
    }
    

}