:local .navGrid {
    animation: "fadeIn" 1.5s;
    padding: 1em 0.5em 1em 0.5em;
    border-top: 1px solid #e0e0db;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    border-bottom: 1px solid #e0e0db;
}

:local .navigationActive {
    opacity: 0.5;
    text-decoration: none;
    cursor: default;
    /*text-decoration: underline 0.15em rgb(158, 0, 0);*/
}
:local .navigationActive:hover {
    opacity: 0.5;
    text-decoration: none;
}
