
:local .disciplineText {
    grid-column: span 2;
}

:local .dotSection h3 {
    text-align: center;
    margin-bottom: 0px;
}

:local .dotLevelSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

:local .dots {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    justify-content: center;
    gap: 0.3em;
    color: #e0e0db;
    font-size: 3em;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    margin-bottom: 0em;
    -webkit-tap-highlight-color: transparent;
}

:local .dotLevel {
    cursor: pointer;
    opacity: 0.5;
    padding: 0.25em;
    border: 3px solid #e0e0db;
    border-radius: 400px;
}


:local .filled {
    background-color: #e0e0db;
}

:local .dotHover {
    opacity: 1;
}

:local .ownedByClan {
    grid-column: span 2;
    display: flex;
    gap: 2em;
    font-weight: 700;
    justify-content: center;
    margin-bottom: 1em;
}

:local .ownedByClan a {
    text-decoration: none;
}

:local .ownedByClan a:hover {
    text-decoration: none;
}

:local .dotInfoSection h2 {
    text-align: center;
}

:local .dotInfoSection h4 {
    text-align: center;
}

@media screen and (max-width: 1300px) {

    :local .ownedByClan {
        gap: 1em;
        text-align: center;
        margin-top: 1.5em;
    }

    
}
