:local .disciplineHeader {
    display: grid;
    grid-template-columns: 1fr 0.3fr 1fr;
    animation: "fadeIn" 1s;
    text-align: center;
}

:local .headerDiscipline span {
    font-size: 6em;
}

:local .headerLinkText {
    margin-top: 0px;
    margin-bottom: 0.3em;
}

:local .disciplineText {
    grid-column: span 2;
}

:local .dotSection h3 {
    margin-bottom: 0px;
}

:local .dotLevelSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

:local .dots {
    color: #e0e0db;
    font-size: 4em;
    text-align: center;
}

:local .dotLevel {
    cursor: pointer;
    opacity: 0.5;
}

:local .dotHover {
    opacity: 1;
}

:local .printedDot {
    content: '●';
}

:local .printedEmptyDot {
    content: '○';
}

:local .printedEmptyDot:hover {
    content: '●';
}

:local .prevNextDisc {
    transform: scale(0.6);
    opacity: 0.3;
    transition: opacity 500ms;
    text-decoration: none;
}

:local .prevNextDisc:hover {
    opacity: 1;
}

:local .prevNextDisc a {
    text-decoration: none;
}

:local .ownedByClan {
    grid-column: span 2;
    display: flex;
    gap: 2em;
    font-weight: 700;
    justify-content: center;
    margin-bottom: 1em;
}

:local .dotInfoSection {
    animation: "fadeIn" 1s;
}

:local .dotInfoSection h4 {
    text-align: center;
}