:local .disciplines h2 {
    margin-top: 0px;
    margin-bottom: 0.7em;
}

:local .disciplinesGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3em;
}

:local .disciplineButton {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    padding-top: 2em;
    padding-bottom: 1em;
    border: 1px solid #e0e0db;
    opacity: 0.4;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 500ms;
}

:local .disciplineButton span {
    font-size: 4em;
    margin-top: 0px;
}

:local .disciplineButton:hover {
    opacity: 1;
    border-color: #e0e0db;
}

:local .disciplineButton p {
    font-weight: lighter;
    font-size: 1.3em;
}

@media screen and (max-width: 1300px) {
    :local .disciplines h2 {
        text-align: center;
    }

    :local .disciplinesGrid {
        grid-template-columns: 1fr 1fr;
        margin-left: 1em;
        margin-right: 1em;
        gap: 1em;
        padding-bottom: 2.5vh;
    }

    :local .disciplineButton {
        padding-top: 1.3em;
        padding-bottom: 0.5em;
        opacity: 0.7;
    }
}