
:local .disciplineText {
    grid-column: span 2;
}

:local .dotSection h3 {
    text-align: center;
    margin-bottom: 0px;
}

:local .dotLevelSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

:local .dots {
    color: #e0e0db;
    font-size: 4em;
    text-align: center;
}

:local .dotLevel {
    cursor: pointer;
    opacity: 0.5;
}

:local .dotHover {
    opacity: 1;
}

:local .ownedByClan {
    grid-column: span 2;
    display: flex;
    gap: 2em;
    font-weight: 700;
    justify-content: center;
    margin-bottom: 1em;
}

:local .dotInfoSection {
    animation: "fadeIn" 1s;
}

:local .dotInfoSection h4 {
    text-align: center;
}