:local .headerTop {
    animation: "fadeIn" 1s;
    text-align: center;
}

:local .headerTop h1 {
    margin-bottom: 0px;
}

:local .navGrid {
    animation: "fadeIn" 2s;
    padding: 1em 0.5em 1em 0.5em;
    border-top: 1px solid #e0e0db;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    border-bottom: 1px solid #e0e0db;
}

:local .lowerPage {
    display: grid;
    grid-template-columns: 1fr 0.6fr;
    padding: 0em 3em 0em 3em;
    margin-bottom: 2em;
}

:local .fadeInLoad {
    animation: "fadeIn" 1s;
}

:local .fadeInLoad h2 { 
    margin-bottom: 0px;
}

:local .picture {
    animation: "fadeIn" 1.5s;
    justify-self: center;
    margin-top: 4em;
}

:local .picture img {
    border-radius: 10px;
}

:local .chartGrid {
    display: grid;
    
    grid-template-columns: 200px 200px 1fr;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

:local .gridHr {
    grid-column: span 3;
    border-top: 1px solid #e0e0db;
}

:local .applyingExample {
    display: grid;
    grid-template-columns: 0.5fr 600px;
    align-items: center;
    row-gap: 10px;
}

:local .applyingExample h2 {
    grid-column: span 2;
    margin: 0px;
}

:local .applyingExampleGrid {
    display: grid;
    grid-template-columns: 100px 25px;
    row-gap: 10px;
}


:local .applyingExampleGrid p {
    grid-column: 1;
}

:local .applyingExampleGrid span {
    border: 1px solid white;
    padding: 0px;
    grid-column: 2;
    text-align: center;
}

:local .applyingExampleButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

:local .applyingExampleButtons button {
    font-size: 1vw;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 1em;
    color: #e0e0db;
    transition: border-color 500ms;
    transition: opacity 300ms;
    opacity: 0.5;
}

:local .applyingExampleButtons button:hover {
    cursor: pointer;
    border-color: #e0e0db;
    opacity: 1;
}

