:local .attributeGrid {
    display: grid;
    text-align: center;
    column-gap: 5em;
    margin-left: 1em;
    margin-right: 1em;
}

:local .attributeGrid h2 {
    margin-bottom: 0.7em;
}

:local .attributeButton {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    padding-top: 2em;
    padding-bottom: 1em;
    border: 1px solid #e0e0db;
    opacity: 0.4;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 500ms;
    margin-bottom: 1em;
}

:local .attributeButton span {
    font-size: 3em;
    margin-top: 0px;
}

:local .attributeButton:hover {
    opacity: 1;
    border-color: #e0e0db;
}

:local .attributeButton p {
    font-weight: normal;
}

@media screen and (min-width: 1300px) {
    :local .attributeGrid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1300px) {
    :local .attributeGrid {
        grid-template-columns: 1fr;
        padding-bottom: 2.5vh;
    }

    :local .attributeButton {
        padding-top: 1.5em;
        padding-bottom: 0.5em;
        opacity: 0.5;
    }

}