:local .derangementsList {
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 100px;
    row-gap: 10px;
}

:local .derangementsList a {
    justify-self: center;
}

@media screen and (max-width: 1300px) {
    :local .page {
        margin-left: 1em;
        margin-right: 1em;
    }
    :local .derangementsList {
        grid-template-columns: 1fr; 
    }

    :local .derangementsList a {
        justify-self: left;
    }
    
}