p {
  color: white;
  font-size: 1.2em;
}

h1 {
  color: white;
  font-size: 3.5em;
}

h2 {
  color: white;
  font-size: 2.5em;
}

h3 {
  color: white;
  font-size: 1.5em;
}

h4 {
  color: white;
  font-size: 0.5em;
}

.vampPage {
  margin-left: 4em;
  margin-top: 8em;
  margin-right: 4em;
}

.capitalize {
  text-transform: capitalize;
}

a {
  font-size: clamp(1rem, 2vw, 1.1rem);
  color: white;
  text-decoration: none;
  width: 100%;
  border-bottom: 1px solid black;
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  transition: text-decoration-color 300ms;
}

a:hover {
  text-decoration-color: rgb(158, 0, 0);  
}

