
html {
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  font-family: 'HK Grotesk', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* background: black; */
}

@media screen and (min-width: 1300px) {
    body {
      background-image: linear-gradient(#181818 15%, black 100%);
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
}

@media screen and (max-width: 1300px) {
  body {
    background-color: black;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.vtm-hk-grotesk-force {
  font-family: "HK Grotesk" !important;
}

.vtm-icon {
  font-family: "Ankha";
  text-transform: none;
}

.vtm-clan-icon {
  font-family: "Clans";
  text-transform: none;
  cursor: default;
}

@font-face {
 font-family:HK Grotesk;
 src:url(fonts/HKGrotesk-Regular.otf) format("opentype");
 font-weight:400;
 font-style:normal
}
@font-face {
 font-family:HK Grotesk;
 src:url(fonts/HKGrotesk-Bold.otf) format("opentype");
 font-weight:700;
 font-style:normal
}
@font-face {
 font-family:HK Grotesk;
 src:url(fonts/HKGrotesk-Light.otf) format("opentype");
 font-weight:300;
 font-style:normal
}

/* From: https://static.krcg.org/ */
@font-face {
  font-family: "Ankha";
  src: url("fonts/ankha2.otf") format("opentype");
}
@font-face {
  font-family: "Clans";
  src: url("fonts/clans.otf") format("opentype");
}