

:local .armorCard {
    grid-template-columns: auto auto;
}

:local .armorCard h3 {
    grid-column: span 2;
}

@media screen and (max-width: 1300px) {
    
    :local .meleeWeapons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    :local .rangedWeapons h2 {
        font-size: 2.2em;
    }

    :local .page {
        margin-left: 1em;
        margin-right: 1em;
    }
}