:local .rulesHeader {
  margin-bottom: 1em;
}

:local .rulesGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1.5em;
    column-gap: 3em;
}

:local .rulesGrid h1 {
  grid-column: span 6;
  margin-bottom: 0px;
  margin-top: 0px;
}

:local .rulesGrid a {
    padding: 2em;
    font-weight: lighter;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    color: #e0e0db;
    transition: border-color 500ms;
}

:local .rulesGrid a:hover {
  text-decoration-color: rgb(158, 0, 0);  
  cursor: pointer;
  border-color: #e0e0db;
}

:local .rulesGrid a h4 {
  text-align: center;
  margin: 0.5em;
  text-transform: none;
  transition: opacity 500ms;
  opacity: 0.5;
}


:local .rulesGrid a h1 {
  text-align: center;
  transition: opacity 500ms;
  opacity: 0.5;
}

:local .rulesGrid a:hover h1 {
  cursor: pointer;
  opacity: 1;
}

:local .rulesGrid a:hover h4 {
  opacity: 1;
}

:local .doubleSpan {
    grid-column: span 2;
}

@media screen and (max-width: 1300px) {
  :local .rulesHeader {
    text-align: center;
  }

  :local .rulesGrid {
    grid-template-columns: 1fr;
    margin-left: 2em;
    margin-right: 2em;
    padding-bottom: 2.5vh;
  }

  :local .rulesGrid a {
    padding: 1em;
    padding-top: 1.5em;
    width: 100%;
    max-width: 300px;
    justify-self: center;
  }

}